a {
  text-decoration: none;
  color: black;
}

body .container{
  margin: 0 10%;
  position: relative;
}

header {
  display: flex;
  position: relative;
  border-bottom: 1px solid rgb(224, 220, 220);
}

#open-add-memo-modal-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  font-weight: bold;
  height: 60px;
  width: 60px;
  border-width: bold;
  border-radius: 50%;
  border: 1px solid rgb(148, 145, 145);
}

#sorting-icon-div {
  display: flex;
  margin-top: 30px;
}

#sorting-btn {
  margin: 4px 0 0 10px;
}

.task-list {
  margin-top: 40px;
}

.modalwin {
  position: fixed;
  width: 600px;
  background-color: #fff;
  border-radius: 5px;
  /* とは？ */
  box-shadow: 0 2px 4px 0 #000;
  /* とは？ */
  z-index: 1;
}

.modalwin dl {
  padding: 0px 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.modalwin h1 {
  background: #ededed;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  font-size: 1.2em;
  margin-top: 0;
  text-align: center;
}

.modalwin-contents {
  padding: 5px 0;
  margin-bottom: 8px;
  text-align: center;
}

.modalwin-contents p {
  margin: 0 0 1em 0;
  line-height: 1.8em;
}

#shade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #999;
  opacity: 0.9;
  z-index: 1;
}

#change-tab-btn-group {
  margin-top: 30px;
}

.change-tab-btn {
  font-size: 30px;
  padding-bottom: 10px;
  color: gray;
  border-bottom: none;
}

#show-not-completed-tasks:hover {
  color: black;
}

#show-completed-tasks {
  margin-left: 20px;
}

#show-completed-tasks:hover {
  color: black;
}

#show-stared-tasks {
  margin-left: 20px;
}

#show-stared-tasks:hover {
  color: black;
}

.is_selected {
  color: black;
  border-bottom: 6px solid red;
}

#completed-task-list {
  display: none;
}

#stared-task-list {
  display: none;
}

#user-name {
  height: 10px;
  border: 2px solid rgb(224, 220, 220);
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
}

#user-password {
  margin-top: 10px;
  height: 10px;
  border: 2px solid rgb(224, 220, 220);
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
}

#user-btn-group {
  margin-top: 10px;
}

#login {
  height: 30px;
  width: 70px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 5px;
}

#sign-up {
  height: 30px;
  width: 70px;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.todo-title {
  height: 20px;
  width: 400px;
  border: 2px solid rgb(224, 220, 220);
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
}

.todo-detail {
  margin: 20px 0 0 0;
  height: 80px;
  width: 400px;
  border: 2px solid rgb(224, 220, 220);
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
}

.task-btn {
  margin: 20px 0;
  height: 30px;
  width: 100px;
  font-size: 20px;
  border-radius: 10px;
}

.task-item {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(224, 220, 220);
  position: relative;
  display: flex;
}

.task-title {
  display: block;
  margin-left: 20px;
  margin-right: 2px;
  font-size: 40px;
  width: 1030px;
  overflow: hidden;
}

.delete-task-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}

.fav-task-btn {
  position: absolute;
  top: 20px;
  right: 70px;
  font-size: 30px;
}

.task-complete-btn {
  border: 1px solid rgb(148, 145, 145);
  border-radius: 30px;
  height: 30px;
  width: 30px;
  margin-top: 16px;
}

#create-memo-btn {
  margin-top: 20px;
}

#delete-task-button {
  height: 30px;
  width: 70px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 5px;
}

#not-delete-task-button {
  height: 30px;
  width: 70px;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 5px;
}

#alert-modal {
  display: none;
}

#modal-alert {
  position: fixed;
  top: 2%;
  right: 0;
  width: 300px;
}

#modal-alert h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}

.close-modal {
  background-color: #ededed;
  border: 1px solid #ededed;
  font-size: 16px;
}
