/* スマホ用レイアウト */
@media (max-width: 375px) {
  body .container{
    margin: 0;
  }

  .task-title {
    width: 220px;
    font-size: 20px;
    padding-top: 14px;
  }

  #create-todo-title {
    width: 300px;
  }

  #create-todo-detail {
    width: 300px;
  }

  #edit-todo-title {
    width: 300px;
  }

  #edit-todo-detail {
    width: 300px;
  }

  .change-tab-btn {
    font-size: 22px;
  }

  #modal-alert {
    text-align: center;
  }
}