/* スマホ用レイアウト */
@media (max-width: 375px) {
  body .container{
    margin: 0;
  }

  #open-add-memo-modal-btn {
    position: absolute;
    right: 12px;
    top: 0;
  }

  .task-title {
    width: 220px;
    font-size: 20px;
    padding-top: 14px;
  }

  #create-todo-title {
    width: 300px;
  }

  #create-todo-detail {
    width: 300px;
  }

  #edit-todo-title {
    width: 300px;
  }

  #edit-todo-detail {
    width: 300px;
  }

  .todo-deadline {
    width: 260px;
  }

  .change-tab-btn {
    font-size: 22px;
  }

  #modal-alert {
    text-align: center;
  }

  .added-date-title {
    position: absolute;
    left: 146px;
  }

  .added-date {
    position: absolute;
    left: 190px;
    margin-left: 20px;
  }
}